@model RemnantsProject.Models.SlabSearch
<h3>Search a remnant piece:</h3>
<hr />
<div class="row">
    <div class="col-md-12">
        <form class="form-inline-custom" asp-action="Index" method="get">
            <div class="form-group">
                <label class="control-label">Sold State</label>
                <select asp-for="SoldState" class="form-control">
                    <option value="@RemnantsProject.Data.SoldState.AVAILABLE">AVAILABLE</option>
                    <option value="@RemnantsProject.Data.SoldState.SOLD">SOLD</option>
                    <option value="@RemnantsProject.Data.SoldState.PICKEDUP">PICKEDUP</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Thickness" class="control-label">Thickness</label>
                <select asp-for="Thickness" class="form-control">
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="MinPrice" class="control-label">Min Price</label>
                <input asp-for="MinPrice" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaxPrice" class="control-label">Max Price</label>
                <input asp-for="MaxPrice" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MinLength" class="control-label">Min Length</label>
                <input asp-for="MinLength" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaxLength" class="control-label">Max Length</label>
                <input asp-for="MaxLength" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MinWidth" class="control-label">Min Width</label>
                <input asp-for="MinWidth" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaxWidth" class="control-label">Max Width</label>
                <input asp-for="MaxWidth" class="form-control" />
            </div>
            <div class="btn-container">
                <input type="submit" value="Find" class="btn btn-primary" />
                <a asp-controller="Slabs" asp-action="Index" class="btn btn-primary">Show all slabs</a>
            </div>
        </form>
        <hr />
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
